{% extends "Dsyph3rJobeetBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/dsyph3rjobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="jobs">
    <table class="jobs">
        {% for job in jobs %}
            <tr class= "{{ loop.index is even ? 'even' : 'odd' }}">
              <td class="location">{{ job.location }}</td>
              <td class="position">
                <a href="{{ path('job_show', {'id': job.id}) }}">
                  {{ job.position }}
                </a>
              </td>
              <td class="company">{{ job.company }}</td>
            </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}
